{{ define "fdm_status" }}
	{{ template "header" . }}
	<h2>FDM Information</h2>
	{{ if .has_error }}
		Error: {{ .error }}
	{{ else }}
	<h4>Message Type: {{ .response.Identifier }}</h4>
	<h4>Sequence: {{ .response.Sequence }}</h4>
	<h4>Retry: {{ .response.Retry }}</h4>
	<h4>Error1: {{ .response.Error1 }}</h4>
	<h4>Error2: {{ .response.Error2 }}</h4>
	<h4>Error3: {{ .response.Error3 }}</h4>
	<h4>FDM Production Number: {{ .response.FDMProductionNumber }}</h4>
	<h4>FDM Firmware Version Number: {{ .response.FDMFirmware }}</h4>
	<h4>FDM Communicatin Protocol Version: {{ .response.FDMCommunicationProtocol }}</h4>
	<h4>VSC Identification Number: {{ .response.VSCID }}</h4>
	<h4>VSC Version Number: {{ .response.VSCVersion }}</h4>
	<h4>Terminal Identifier: {{ .RCRS }}</h4>
	<h4>Software Version: {{ .version }}</h4>
	{{ end }}
	{{ template "footer" . }}
{{ end }}

