{{ define "syncer_logs" }}
{{ template "header" . }}
  <div class="pagination pagination-sm justify-content-center" style="margin:12px">
    {{ if eq .hasPrevious true }} <a class="page-link" href="/syncer/logs/?page={{.prevPage }}"> Prev </a>{{ end }}
    <div class="page-link disabled">Page {{ .page }}</div>
    {{ if eq .hasNext true }} <a class="page-link" href="/syncer/logs/?page={{.nextPage }}"> Next </a>{{ end }}
  </div>
  <div class="pagination pagination-sm justify-content-center" style="margin:7px">
    <a class="page-link">Showing from {{.offset}} to {{.lastRecord}} of {{.totalRecords}} total records</a>
  </div>
	<table class="table table-bordered">
			<tr>
				<td>Method</td>
				<td>URI</td>
				<td>Response Status</td>
				<td>Request Body</td>
				<td>Response Body</td>
				<td>Created At</td>
			</tr>
			{{ range $i, $val := .logs }}
			<tr>
				<td>{{ $val.Request.Method }}</td>
				<td>{{ $val.Request.URI }}</td>
				<td>{{ $val.ResponseStatus }}</td>
				<td><a href="/syncer/logs/request/{{ $val.ID.Hex }}" target="_blank">Request</a></td>
				<td><a href="/syncer/logs/response/{{ $val.ID.Hex }}" target="_blank">Response Body</a></td>
				<td>{{ $val.CreatedAt }}</td>
			</tr>
			{{ end }}
		</table>
{{ template "footer" . }}
{{ end }}
